<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hamziii.boolawa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/log2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/log2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity
            android:name=".SignUpActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".PasswordResetActivity" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme" />
        <activity android:name=".Account" />
        <activity
            android:name=".hiring"
            android:label="@string/title_activity_hiring"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".sendinvitation"
            android:label="@string/title_activity_sendinvitation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".tools"
            android:label="@string/title_activity_tools"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".gallery"
            android:label="@string/title_activity_gallery"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".slideshow"
            android:label="@string/title_activity_slideshow"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DesignCards"
            android:label="@string/title_activity_design_cards"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity android:name=".ContactUs" />
        <activity android:name=".Help" />
        <activity android:name=".EventDetailsFromUser" />
        <activity android:name=".FinalizedInvitationCard"></activity>
    </application>

</manifest>