<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project.boolawa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/log2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/log2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.project.boolawa.MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.project.boolawa.LoginActivity" />
        <activity
            android:name="com.example.project.boolawa.SignUpActivity"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name="com.example.project.boolawa.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity android:name="com.example.project.boolawa.EventDetailsFromUser" />
        <activity android:name="com.example.project.boolawa.FinalizedInvitationCard" />

        <activity android:name="com.example.project.boolawa.ServiceProviderLogin" />
        <activity android:name="com.example.project.boolawa.ServiceProviderSignUp" />
        <activity android:name="com.example.project.boolawa.ServiceProviderHome" />
        <activity android:name="com.example.project.boolawa.AllUsers" />
        <activity android:name="com.example.project.boolawa.SingleUser" />
        <activity android:name="com.example.project.boolawa.Friends" />
        <activity android:name="com.example.project.boolawa.InAppInvitation" />
        <activity android:name="com.example.project.boolawa.UserCreatedInvitations" />
        <activity android:name="com.example.project.boolawa.ServceProviderShowHire"></activity>
    </application>

</manifest>